* {
  margin: 0;
  padding: 0;
  /* box-sizing: 0 */
}
:root {
  --primaryColor: #00b98e;
  --light: #f3f6f8;
  --dark: #0e2e50;
  --fWhite: #ffffff;
  --text: #666565;
}

body {
  background-color: whitesmoke;
  max-width: 1088px;
  margin-left: 27rem;
  font-family: sans-serif;
}
.container {
  height: 100vh;
  background-color: var(--fWhite);
}
/* navbar section */
.navbar {
  height: 5rem;
  background-color: var(--primaryColor);
  border-bottom: 1px solid rgb(225, 255, 255, 0.2);
  display: grid;
  grid-template-columns: 250px auto 200px;
}
.navbar-head {
  text-decoration: none;
  text-align: center;
  display: grid;
  align-self: center;
  color: var(--fWhite);
  font-size: 22px;
}
.nav-link {
  text-decoration: none;
  align-self: center;
  justify-self: right;
  color: var(--fWhite);
}
.nav-div {
  align-self: center;
  justify-self: right;
  word-spacing: 10px;
}
.nav-btn-link {
  text-decoration: none;
  color: var(--primaryColor);
}
.nav-btn {
  justify-self: center;
  align-self: center;
  background-color: var(--fWhite);
  padding: 8px 18px;
  border-radius: 20px;
}
/* end navbar section */
/* banner section */
section {
  width: 100%;
  height: 550px;
}
.banner-section {
  position: relative;
  background-color: var(--primaryColor);
  z-index: 1;
  display: grid;
  grid-template-columns: 530px 400px;
}
.banner-section::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 370px;
  background: url(./images/shape-bottom.png);
  background-size: cover;
  /* background-repeat: no-repeat; */
  z-index: -1;
}
.banner-div {
  justify-content: center;
  align-self: center;
  text-align: left;
  margin-left: 1rem;
}
.banner-head {
  margin-bottom: 1.5rem;
  color: var(--fWhite);
  font-size: xx-large;
  margin-top: -9rem;
}
.banner-text {
  color: var(--fWhite);
  font-size: 13px;
}
.banner-img {
  width: 400px;
  height: auto;
  margin-top: 5rem;
  margin-left: 4rem;
}
.banner-btn {
  position: absolute;
  text-decoration: none;
  color: var(--fWhite);
  border: 2px solid var(--fWhite);
  border-radius: 25px;
  padding: 12px 30px;
  margin-top: 2.5rem;
  font-size: smaller;
}
/* end banner section */
/* about section */
.about-section {
  display: grid;
  grid-template-columns: 500px 560px;
  height: 40rem;
  background-color: var(--fWhite);
}
.about-img1 {
  display: grid;
  justify-content: center;
  align-self: center;
}
.about-img {
  width: 430px;
  height: auto;
}
.about-content {
  display: grid;
  justify-content: center;
  align-self: center;
  margin-left: 4rem;
}
.primary-text {
  display: flex;
  position: relative;
  color: var(--primaryColor);
  border: 1px solid #dee2e6;
  width: 100px;
  height: 20px;
  justify-content: center;
  font-size: 13px;
  border-radius: 20px;
  padding-top: 5px;
  margin-top: -3rem;
}

.about-head1 {
  color: var(--dark);
  margin-bottom: 1.5rem;
}
.about-text1 {
  font-size: 13px;
  color: var(--text);
  margin-bottom: 1.5rem;
}
.text-white {
  display: block;
  color: #ffffff;
  background-color: var(--primaryColor);
  padding: 10px;
  border-radius: 20px;
}
.about-div {
  display: grid;
  grid-template-columns: 50px 440px;
}
.about-head2 {
  color: var(--dark);
  font-size: 13px;
  margin-bottom: 10px;
}
.about-text2 {
  font-size: 13px;
  color: var(--text);
  margin-bottom: 20px;
}
.content-btn {
  text-decoration: none;
  background-color: var(--primaryColor);
  width: 100px;
  text-align: center;
  padding: 15px 20px;
  border-radius: 23px;
  color: var(--fWhite);
  font-size: 13px;
  margin-top: 1rem;
}
/* end about section */
/* ready section */
.ready {
  background-color: var(--primaryColor);
  height: 13rem;
  display: grid;
  grid-template-columns: 620px 300px;
}
.ready-img1 {
  position: absolute;
  width: 260px;
  height: auto;
  margin-top: 2rem;
  margin-left: 2rem;
}
.ready-text {
  align-self: center;
  margin-left: 3rem;
  color: var(--fWhite);
  line-height: 2rem;
}
.ready-head {
  font-size: 1.5rem;
}
.ready-text1 {
  font-size: 12px;
}
.ready-input {
  width: 450px;
  border: 1px solid var(--fWhite);
  padding: 12px 15px;
  border-radius: 23px;
  margin-top: 1rem;
}
.ready-btn {
  font-size: 19px;
  color: var(--primaryColor);
  border: none;
  margin-left: -2.5rem;
  background-color: var(--fWhite);
}
/* end ready section */
/* services section */
.services {
  background-color: var(--fWhite);
  height: 900px;
}
.services-header {
  padding: 8rem;
  text-align: center;
}
.services-text {
  border: 2px solid #dee2e6;
  width: 120px;
  margin-left: 22rem;
  margin-bottom: 1rem;
  font-size: 14px;
  padding: 4px 0;
  border-radius: 20px;
  color: var(--primaryColor);
}
.services-head {
  font-size: 1.7rem;
  color: var(--dark);
}
.card {
  display: grid;
  width: 330px;
  height: 200px;
  border: 2px solid none;
  box-shadow: 1px 2px 4px 1px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: transform 0.3s;
}
.card:hover {
  border: 1px solid var(--primaryColor);
  transform: translateY(-10px);
}

#card-icon1 {
  display: flex;
  color: var(--fWhite);
  background-color: var(--primaryColor);
  padding: 10px;
  border-radius: 4px 0;
  height: 34px;
  width: 34px;
  justify-content: center;
}
.card-head {
  color: var(--dark);
  font-size: 17px;
  margin-left: 2.5rem;
  margin-top: 2rem;
}
.card-text {
  color: var(--text);
  font-size: 13px;
  width: 255px;
  height: 70px;
  margin-left: 2.5rem;
}
.services-card {
  display: grid;
  grid-template-columns: 335px 335px 335px;
  grid-template-rows: 220px 220px;
  justify-content: space-around;
  margin-top: -5rem;
}
/* end services section */
/* features section */
.features {
  background-color: var(--fWhite);
  display: grid;
  grid-template-columns: 445px 650px;
}
.features-content {
  margin-left: 1rem;
}
.features-head {
  color: var(--dark);
  margin: 1rem 0 1rem 0;
  font-size: 28px;
}
.features-text {
  color: var(--text);
  font-size: 13px;
}
.text {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.features-cards {
  display: grid;
  grid-template-columns: 290px 290px;
  grid-template-rows: 130px 130px 130px;
  justify-content: space-around;
  margin-left: 10px;
}
.cards {
  display: grid;
  grid-template-columns: 50px 240px;
  margin-top: -2rem;
}
.features-icon {
  width: 13px;
  height: 13px;
  text-align: center;
  font-size: 13px;
}
.features-head1 {
  display: flex;
  color: var(--dark);
  padding-top: 8px;
}
.features-text1 {
  color: var(--text);
  font-size: 13px;
  margin-top: 2rem;
  margin-left: -3rem;
}
.features-btn {
  text-decoration: none;
  background-color: var(--primaryColor);
  width: 100px;
  text-align: center;
  padding: 15px 40px;
  border-radius: 23px;
  color: var(--fWhite);
  font-size: 13px;
  margin-top: 1rem;
}
/* end features section */
/* logo section */
.logo {
  background-color: var(--primaryColor);
  display: grid;
  grid-template-columns: 170px 170px 170px 170px 170px 170px;
  width: auto;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.logo1 {
  width: 115px;
  height: 115px;
}
/* end logo section */
/* testimonial section */
.testimonial {
  background-color: var(--fWhite);
  padding-top: 7rem;
}
.testimonial-div {
  position: flex;
  text-align: center;
}
.testimonial-text {
  display: flex;
  color: var(--primaryColor);
  border: 1px solid #dee2e6;
  width: 100px;
  height: 20px;
  justify-content: center;
  font-size: 13px;
  border-radius: 20px;
  padding-top: 5px;
  margin-left: 31rem;
  padding-left: 5px;
  padding-right: 5px;
}
.testimonial-head {
  color: var(--dark);
  font-size: 28px;
  padding-top: 15px;
}
.testimonial-clients1 {
  width: 300px;
  height: 150px;
  border: 1px solid transparent;
  margin-left: 2rem;
  margin-top: 4rem;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
  border-radius: 4px;
  padding-top: 1rem;
}
.testimonial-clients2 {
  width: 360px;
  height: 180px;
  border: 1px solid var(--primaryColor);
  margin-left: 23rem;
  margin-top: -11rem;
  padding-top: 1rem;
  border-radius: 4px;
}
.testimonial-clients3 {
  width: 300px;
  height: 150px;
  border: 1px solid transparent;
  margin-left: 48rem;
  margin-top: -11.5rem;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
  border-radius: 4px;
  padding-top: 1rem;
}

.client-img {
  height: auto;
  width: 35px;
  border-radius: 50%;
}
.testimonial-img {
  margin-left: 1rem;
}
.testimonial-text1,
.testimonial-text3 {
  color: var(--text);
  font-size: 11px;
  padding: 1rem;
}
.testimonial-text2 {
  color: var(--text);
  font-size: 14px;
  padding: 1rem;
}
.testimonial-head1,
.small {
  margin-left: 4rem;
  margin-top: -2.3rem;
}
.testimonial-head1 {
  color: var(--dark);
  font-size: 12px;
}
.small {
  color: var(--text);
  font-size: 10px;
}
.testimonial-head2 {
  color: var(--dark);
}
.small2 {
  color: var(--text);
  font-size: 12px;
}
.testimonial-icon {
  color: var(--primaryColor);
  margin-left: 1rem;
  font-size: 14px;
  margin-bottom: -1rem;
}
.testimonial-icon2 {
  color: var(--primaryColor);
  margin-left: 1rem;
  font-size: 18px;
}
.testimonial-head2,
.small2 {
  margin-left: 4.5rem;
  margin-top: -2.8rem;
}
.testimonial-img2 {
  margin-left: 1rem;
}
.client-img2 {
  height: auto;
  width: 45px;
  border-radius: 50%;
}
.chevron {
  height: 50px;
  width: 25px;
  display: grid;
  grid-template-columns: 50px 50px;
  padding-top: 2rem;
  margin-left: 32rem;
}
.chevron-left,
.chevron-right {
  border: 1px solid var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
/* end testimonial section */
/* team section  */
.team {
  background-color: var(--fWhite);
  padding-bottom: 6rem;
}
.team-text {
  display: flex;
  color: var(--primaryColor);
  border: 1px solid #dee2e6;
  width: 100px;
  height: 20px;
  justify-content: center;
  font-size: 13px;
  border-radius: 20px;
  padding-top: 5px;
  margin-left: 31rem;
  padding-left: 5px;
  padding-right: 5px;
}
.team-head {
  color: var(--dark);
  font-size: 28px;
  padding-top: 15px;
  text-align: center;
}
.team-member {
  margin-top: 3rem;
}
.text-div {
  background-color: var(--fWhite);
  width: 240px;
  height: 150px;
  text-align: center;
  box-shadow: 0 0 15px rgba(131, 130, 130, 0.5);
  border-radius: 3px;
  z-index: -1;
  margin-bottom: -3rem;
}
.team-img {
  height: auto;
  width: 180px;
  border-radius: 50%;
  outline-width: 1px;
  outline-style: solid;
  outline-color: var(--primaryColor);
  outline-offset: 10px;
}
.img-div {
  display: flex;
  width: 240px;
  height: 180px;
  justify-content: center;
  z-index: 1;
}
.team-icon {
  width: 240px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(131, 130, 130, 0.5);
  border-radius: 3px;
  z-index: -1;
  margin-top: -3rem;
}
.icon {
  font-size: 13px;
  color: var(--primaryColor);
  padding: 10px;
  padding-top: 5rem;
}
.team-head1 {
  color: var(--dark);
  font-size: 18px;
  padding-top: 1.5rem;
}
.team-text1 {
  color: var(--text);
  font-size: 13px;
  padding-top: 10px;
}
.teams-div {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  justify-content: space-evenly;
}

/* end team section */
/* start footer */
.footer {
  color: var(--light);
  background-color: var(--dark);
  align-content: center;
  height: 390px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.footer-div {
  display: grid;
  grid-template-columns: 240px 240px 240px 240px;
  justify-content: space-evenly;
}
.btn {
  color: var(--light);
  text-decoration: none;
  display: block;
  font-size: 12px;
  line-height: 2rem;
}
.btn:hover {
  letter-spacing: 2px;
}
.footer-head {
  font-size: 16px;
  padding-bottom: 1rem;
}
.footer-text1 {
  font-size: 13px;
  line-height: 2rem;
}
.footer-text2 {
  font-size: 13px;
  padding: 0 0 1rem 0;
}
#text-icon {
  margin-right: 15px;
}
.footer-icon {
  color: var(--light);
  padding: 5px;
  border: 1px solid rgb(225, 255, 255, 0.1);
  border-radius: 50%;
  padding: 10px 12px;
  font-size: 12px;
}
.footer-icon:hover {
  color: var(--primaryColor);
  background-color: var(--fWhite);
}
.icon-div {
  margin-top: 1rem;
}
.footer-input {
  width: 190px;
  border: 1px solid var(--fWhite);
  padding: 10px 15px;
  border-radius: 23px;
}
.footer-btn {
  font-size: 19px;
  color: var(--primaryColor);
  border: none;
  margin-left: -2.5rem;
  background-color: var(--fWhite);
}
.footer-bottom {
  font-size: 12px;
  margin-top: 2rem;
  border-top: 1px solid rgb(225, 255, 255, 0.1);

  margin-bottom: -3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.footer-menu {
  color: white;
  text-align: right;
  word-spacing: 10px;
  font-size: 11px;
  margin-top: -2rem;
}
.footer-menu1 {
  color: var(--light);
  text-decoration: none;
  border-right: 1px solid rgb(225, 255, 255, 0.1);
  padding-right: 10px;
}
.link {
  color: var(--light);
}
.footer-p {
  padding-top: 1.5rem;
}
